*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --hue-neutral: 400;
  --hue-wrong: 0;
  --hue-correct: 100;
}

body {
  --hue: var(--hue-neutral);
  background-color: hsl(var(--hue), 100%, 50%);
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

body.correct {
  --hue: var(--hue-correct);
}

body.wrong {
  --hue: var(--hue-wrong);
}

.container {
  width: 800px;
  max-width: 80%;
  background-color: white;
  border-radius: 4px;
  padding: 4rem;
  box-shadow: 0 0 10px 2px;
}

.btn-grid {
  display: grid;
  grid-template-columns: repeat(2, auto);
  grid-column-gap: 1rem;
  grid-row-gap: 0.7rem;
  margin-top: 4rem;
  margin-bottom: 4rem;
}

.btn {
  --hue: var(--hue-neutral);
  border: 2px solid hsl(var(--hue), 100%, 20%);
  background-color: hsl(var(--hue), 100%, 70%);
  border-radius: 4px;
  color: blue;
  padding: 0.5rem;
  outline: none;
}

.btn:hover {
  border-color: red;
}

.btn.correct {
  --hue: var(--hue-correct);
}

.btn.wrong {
  --hue: var(--hue-wrong);
}

.controls {
  display: flex;
  align-items: center;
  justify-content: center;
}

.start-btn {
  padding: 1rem 1.5rem;
  font-size: 1.5rem;
  font-weight: 600;
  margin-right: 0.8rem;
}

.next-btn {
  font-size: 1.5rem;
  font-weight: 600;
  padding: 1rem 1.5rem;
}

.hide {
  display: none;
}
